<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank You for donating <%= @user.user_name %></h1><br>
    <h3>Unfortunately your Donation for the need <%= @need.title %> was rejected 
    beacause the need isn't in need for money anymore</h3>
    <p>
      You can still donate with the same amount for <br />
     
    </p>
    
    <p>Thanks you and have a great day!</p>
  </body>
</html>