<h1>Admin Dashboard</h1>

<%= link_to 'All Organizations', organizations_path %> | 
<%= link_to 'All Donors', users_path %> | 
<%= link_to 'Messages', messages_path %></li> |
<%= link_to 'Not approved organizations', notApproved_organizations_path %></li>
