<footer class="footer">
<% if !@contact %>
<div align="left">

	<h1>About Us</h1>
	<h2 ><i class="fa fa-mobile"></i> Phone Number:</h2>
	<h2>01234	567890</h2>
	<h2 ><i class="fa fa-map-marker"></i> Address:</h2>
	<h2>120 st. yaragel, Alexandria</h2>
	<div class="container text-center">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-skype"></i></a>
    </div><!--End container-->
</div>

<% end %>


</footer>
